<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Index catalogue
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Climatiseurs</a>
      <a class="dropdown-item" href="#">Ventilateurs</a>
      <a class="dropdown-item" href="#">Brumisateurs</a>
      <a class="dropdown-item" href="#">Eventails</a>
      <a class="dropdown-item" href="#">Climatiseurs écolos</a>
    </div>
  </div>