<div class="btn-group">
        
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Index catalogue
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Climatiseurs</a>
                <a class="dropdown-item" href="#">Ventilateurs</a>
                <a class="dropdown-item" href="#">Brumisateurs</a>
                <a class="dropdown-item" href="#">Eventails</a>
                <a class="dropdown-item" href="#">Climatiseurs écolos</a>
                </div>
            </div>

            <button routerLink="/Blog" type="button" class="btn btn-secondary">
                    Lien Blog
            </button>

            <button routerLink="/GestionCompte" type="button" class="btn btn-secondary">
                    Lien Gestion compte
            </button>

            <button routerLink="/Blog" type="button" class="btn btn-secondary">
                    Modification thème  
            </button>


<div class="btn-group float-right">
        <button type="button" class="btn btn-secondary float-right">
                Connexion  
        </button>
        <button type="button" class="btn btn-secondary float-right">
                Inscription  
        </button>
</div>

</div>