<div class="btn-group mr-2">
        
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Index catalogue
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/Climatiseur">Climatiseurs</a>
                <a class="dropdown-item" routerLink="/Ventilateur">Ventilateurs</a>
                <a class="dropdown-item" routerLink="/Brumisateur">Brumisateurs</a>
                <a class="dropdown-item" routerLink="/Eventail">Eventails</a>
                <a class="dropdown-item" routerLink="/ClimatiseurEcolo">Climatiseurs écolos</a>
                </div>
            </div>

            <button routerLink="/Blog" type="button" class="btn btn-secondary">
                    Lien Blog
            </button>

            <button routerLink="/GestionCompte" type="button" class="btn btn-secondary">
                    Lien Gestion compte
            </button>

            <button routerLink="/Blog" type="button" class="btn btn-secondary">
                    Modification thème  
            </button>
        </div>


<div class="btn-group float-right mr-2">
        <button routerLink="/Connexion" type="button" class="btn btn-secondary float-right">
                Connexion  
        </button>
        <button routerLink="/Inscription" type="button" class="btn btn-secondary float-right">
                Inscription  
        </button>
</div>

