<h1>Comment choisir son climatiseur mobile</h1>


<img src="assets/image/climatiseur-local-monobloc.jpg">

<p>Indispensable pour être au frais l'été, un climatiseur mobile, avec ou sans évacuation, permet de rafraîchir efficacement la maison et de faire baisser la température. Climatiseur monobloc et climatiseur split se choisissent en fonction du volume de la pièce et de leurs options. Tous les conseils pour choisir !</p>

<h2>Caractéristiques importantes</h2>
<ul>
    <li>Climatiseur monobloc</li>
    <li>Climatiseur split</li>
    <li>Rafraîchisseur</li>
    <li>Volume et surface</li>
    <li>BTU et Puissance</li>
    <li>Coefficient de Performance</li>
    <li>Filtration et volume sonore</li>
    <li>Programmation</li>
    <li>Réversibilité</li>

</ul>

<h2>L’essentiel à savoir sur les climatiseurs mobiles</h2>

<p>Les climatiseurs mobiles se différencient selon leur type qui est fonction de leurs performances :</p>

<ul>
<li>Climatiseur monobloc à simple tuyau, pas cher comme clim d’appoint, le tuyau passe par la fenêtre à défaut d’une bouche d’évacuation, le plus commun ;</li>
<li>Climatiseur monobloc à double tuyau, plus cher mais plus performant et moins énergivore, deux tuyaux passent par la fenêtre à défaut de bouches d’évacuation ;</li>
<li>Climatiseur mobile split, le plus cher mais aussi le plus léger et silencieux car le groupe est à l’extérieur et le climatiseur à l’intérieur, deux tuyaux passent par la fenêtre à défaut de bouches d’évacuation ;</li>
<li>Rafraichisseur d’air ou climatiseur mobile sans évacuation, pas cher et léger, rafraîchit l’air de quelques degrés seulement dans des pièces ≤ 15 m², ne climatise pas au sens propre du terme.</li>
</ul>

<p>Les caractéristiques principales à ne pas louper :</p>
<ul>
<li>Déterminer la surface (m²) ou volume (m3) que vous avez à climatiser.</li>
<li>La catégorie énergétique (de A à G ou de A+++ à D), A et A+++ étant les moins énergivores.</li>
<li>Le COP, plus il est élevé, plus le climatiseur est performant.</li>
<li>Le nombre de dB, 55 dB en moyenne et moins pour les plus silencieux.</li>
</ul>
<p>Les principales options pour plus de confort :</p>
<ul>
<li>Une télécommande pour des réglages tout en restant assis.</li>
<li>Une programmation afin de programmer des départs différés, des cycles de climatisation définis.</li>
<li>La ventilation pour bénéficier d'un mode ventilateur.</li>
<li>La déshumidification en vue de déshumidifier l'air ambiant.</li>
<li>L'ionisation pour équilibrer les ions de l'air pour plus de bien-être.</li>
<li>Le mode réversible afin d'utiliser le climatiseur comme chauffage d'appoint.</li>
</ul>

<p>Deux principes à connaitre pour évaluer les performances d’un climatiseur :</p>

<p>1. Plus le débit d’air est élevé (m3 / h), plus le climatiseur est performant.</p>
<p>2. La puissance frigorifique (BTU, unité anglo-saxonne) se convertit en kilowatts (kW, unité internationale) sur la base de 1 kW = 3414 BTU  </p>
<p><strong>A noter :</strong> Tous les climatiseurs nécessitent un minimum d’entretien.</p>

<h2>Les spécificités d'un climatiseur</h2>
<p>Contrairement aux idées reçues, la climatisation ne consiste pas à produire du froid mais à extraire l’air chaud d'un endroit pour le déplacer vers un autre. Sans rentrer dans des détails trop techniques, sachez simplement qu'un climatiseur mobile fonctionne comme votre réfrigérateur. Le principe de climatisation réside dans l'échange de chaleur entre le liquide frigorigène contenu dans le climatiseur, la compression, la condensation et l'évacuation des calories superflues récupérées.

    L'air expulsé grâce à la ventilation du climatiseur est ainsi débarrassé d'une partie de la chaleur qu'il contenait et refroidit l'air ambiant de la pièce où il se trouve. Le reste de l'air chaud est, selon le type de climatiseur, évacué à l'extérieur ou condensé.
     
    La sensation de fraîcheur est pratiquement immédiate dès que le climatiseur mobile est en marche. Aujourd'hui, l'immense majorité des climatiseurs mobiles fonctionne par régulation. Cela signifie qu'une sonde de température indique au climatiseur la température ambiante de l'endroit où il est installé en temps réel. Grâce au réglage d'une consigne, un gestionnaire va automatiquement calculer (en fonction de sa puissance et de sa capacité de compression) le trop plein calorifique à extraire et la quantité d'air frais à restituer pour atteindre cette consigne.</p>

    
