<div class="image"></div>

<div class="container">
    <ul>
        <li *ngFor="let produit of produits" class="float-left">
                <div class="card" style="width: 11rem;">
                        <img class="card-img-top" [src]="produit.img" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{produit.name}}</h5>
                        <p class="card-text">{{produit.description}}</p>
                        <h3>{{produit.prix}} €</h3>
                        <a href="#" class="btn btn-primary">VOIR</a>
                        </div>
                    </div>
        </li>
    </ul>
</div>
